<div class="container navbar navbar-fixed-bottom">
  <hr>
  <ul class="inline footer-links">
    <li><a href="https://github.com/greggyNapalm/firebat-overlord">GitHub</a></li>
    <li class="muted">&middot;</li>
    <li><a href="https://github.com/greggyNapalm/firebat-overlord/issues">Issues</a></li>
    <li>
  </ul>
</div>
