<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>fetched_at</td>
        <td>{{Firebat.Settings.fetched_hum}}</td>
      </tr>
      <tr>
        <td>login</td>
        <td>{{Firebat.Settings.data.login}}</td>
      </tr>
    </tbody>
  </table>
</div>
